<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
    <link rel="stylesheet" href="/admin/custom-css/navbar.css">
    <link rel="stylesheet" href="/admin/custom-css/sidebar.css">
    <link rel="stylesheet" href="/admin/custom-css/edit-products.css">
    <link rel="stylesheet" href="/admin/custom-css/msg-box.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/admin/custom-js/edit-product.js" defer ></script>
</head>
<body>

    <div class="page-wrapper">
        <%- include('./layouts/navbar.ejs') %>
        <div class="page-body">
            <%- include('./layouts/sidebar.ejs') %> 

    <div class="div-1">

        <div class="div-2">
            <h2 class="header">Product</h2>
            <div class="msg-box">
                <p class="msg-para"></p>
            </div>
            <form action="/admin/products/edit/<%= product._id %>" data-product-id="<%= product._id %>"  method="post" enctype="multipart/form-data" >
                <div class="input-item form-child" >
                    <label for="name"> Name : * </label>   
                    <input type="text" id="name" name="name" value="<%= product.name %>">
                </div>
                <div class="form-child two-col-div" >
                    <div class="input-item two-col " >
                        <label for="price"> Price : * </label>    
                        <input type="number" id="price" name="price" value="<%= product.price %>">
                    </div>
                    <div class="input-item two-col " >
                        <label for="quantity"> Quantity : * </label>    
                        <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>" >
                    </div>
                </div>
                <div class="input-item form-child" >
                    <label for="brand"> Brand :  </label>    
                    <input type="text" id="brand" name="brand" value="<%= product.brand %>" >
                </div>
                <div class="input-item form-child" >
                    <label for="size"> Size :  </label>    
                    <input type="text" id="size" name="size" value="<%= product.size %>" >
                </div>
                <div class="input-item form-child" >
                    <label for="color"> Color : </label>    
                    <input type="text" id="color" name="color" value="<%= product.color %>" >
                </div>
                <div class="input-item form-child" >
                    <label for="description"> Description : </label>    
                    <textarea name="description" id="description" rows="5"><%= product.description %></textarea> 
                    <!-- <input type="text" id="description" name="description" > -->
                </div>
                <div class="input-item form-child" >
                    <label for="details"> Details : </label>   
                    <textarea name="details" id="details" rows="10"><%= product.details %></textarea> 
                    <!-- <input type="" id="details" name="details" > -->
                </div>
                <div class="input-item form-child" >
                    <label for="category"> Category : </label>    
                    <select name="category" id="category">
                         <% categorys.forEach( category => { %>
                            <% if( category._id.toString() == product.category._id.toString() ){ %> 
                                <option selected value="<%= product.category._id %>" label="<%= product.category.categoryName %>"  ></option>
                            <% }else { %>
                                <option value="<%= category._id %>" label="<%= category.categoryName %>"  ></option>
                            <% } %>
                         <% }); %>
                    </select>
                 </div>
                 
                
                <!-- <div class="input-item form-child" >
                    <label for="category"> Category : </label>    
                    <input type="text" id="category" name="category" >
                </div> -->
                <div class="input-item form-child">
                    <label for="image"> Image : </label>
                    <div class="image-preview-container-old">
                        <% product.images.forEach((image, index ) => { %>
                            <div class="image-preview-div">
                                <img src="/products/<%= image %>" class="image-preview" alt="Product Image">
                                <i class="fa-solid fa-trash img-delete-btn" data-image-url="<%= image %>" data-product-id="<%= product._id %>"></i>
                            </div>
                        <% }); %>
                    </div> 
                    <div class="image-preview-container-new" id="selected-files-preview"></div> 
                    <input type="file" id="image" name="images" accept="image/*" multiple value="<%= product.images %>">
                </div>
                
                <div class="form-child">
                    <button class="btn-submit" data-user-id="<%= product._id %>">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>



<!-- <script>
    const productId = `<= product._id %>`;
</script> -->


</body>
</html>