<!DOCTYPE html>
<html>

<!-- molla/index-22.html  22 Nov 2019 10:01:54 GMT -->
<head>
	<title></title>
	<title>Molla - Bootstrap eCommerce Template</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="user/assets/images/icons/site.html">
    <link rel="mask-icon" href="user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="user/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="user/assets/css/style.css">
    <link rel="stylesheet" href="user/assets/css/skins/skin-demo-22.css">
    <link rel="stylesheet" href="user/assets/css/demos/demo-22.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

</head>
<body>

    <div class="page-wrapper">
        

        <%- include('./layouts/header.ejs') %>

        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-12">
                        <div class="intro-slider-container mt-2">
                            <div class="intro-slider owl-carousel owl-theme owl-nav-inside owl-light" data-toggle="owl" 
                                data-owl-options='{
                                    "dots": true,
                                    "nav": true, 
                                    "responsive": {
                                        "1200": {
                                            "nav": true,
                                            "dots": true
                                        }
                                    }
                                }'>
                                <div class="intro-slide banner-lg" style="background-image: url(user/assets/images/demos/demo-22/slider/slide-1.jpg);">
                                    <div class="intro">
                                        <div class="title">
                                            <a>deal of the day</a>
                                        </div>
                                        <div class="content">
                                            <h3><span>up to</span> 20% <span>off</span></h3><h4>heavy duty deals</h4>
                                        </div>
                                        <div class="action">
                                            <a href="/product-list">discover now</a>
                                        </div>
                                    </div>
                                </div><!-- End .intro-slide -->

                                <div class="intro-slide banner-lg" style="background-image: url(user/assets/images/demos/demo-22/slider/slide-2.jpg);">
                                    <div class="intro">
                                        <div class="title">
                                            <a>clearance</a>
                                        </div>
                                        <div class="content">
                                            <h3>power tools<br>up to <span>30% off</span></h3>
                                        </div>
                                        <div class="action">
                                            <a href="/product-list">discover now</a>
                                        </div>
                                    </div>
                                </div><!-- End .intro-slide -->


                                
                            </div><!-- End .intro-slider owl-carousel owl-simple -->

                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div>
                    <div class="col-lg-4 banner">
                        <div class="col-12" style="background-image: url(user/assets/images/demos/demo-22/slider/banner-1.jpg)">
                            <div class="intro">
                                <div class="title">
                                    <h3>New arrivals</h3>
                                </div>
                                <div class="content">
                                    <h3>up to </h3> <h3 class="highlight">&nbsp;40% off</h3>
                                </div>
                                <div class="action">
                                    <a href="/product-list">shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="background-image: url(/user/assets/images/demos/demo-22/slider/banner-2.jpg)">
                            <div class="intro">
                                <div class="title">
                                    <h2>outdoor</h2>
                                </div>
                                <div class="content">
                                    <h4>power equipment</h4>
                                </div>
                                <div class="action">
                                    <a href="/product-list">shop now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="background-image: url(/user/assets/images/demos/demo-22/slider/banner-3.jpg)">
                            <div class="intro">
                                <div  class="title">
                                    <h3 class="highlight">save 20%</h3><h3>&nbsp;or more</h3>
                                </div>
                                <div class="content">
                                    <h3>deals & savings</h3>
                                </div>
                                <div class="action">
                                    <a href="/product-list">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container text-center shop">
                <h2 class="title mt-4 mb-5"> Shop by Brands </h2>
                <div class="owl-carousel mb-5 owl-simple" data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": false,
                        "margin": 30,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":2
                            },
                            "420": {
                                "items":3
                            },
                            "600": {
                                "items":4
                            },
                            "900": {
                                "items":5
                            },
                            "1024": {
                                "items":6
                            }
                        }
                    }'>
                    <a class="brand">
                        <img src="/user/assets/images/brands/1.png" alt="Brand Name">
                    </a>

                    <a class="brand">
                        <img src="/user/assets/images/brands/2.png" alt="Brand Name">
                    </a>

                    <a class="brand">
                        <img src="/user/assets/images/brands/3.png" alt="Brand Name">
                    </a>

                    <a class="brand">
                        <img src="/user/assets/images/brands/4.png" alt="Brand Name">
                    </a>

                    <a class="brand">
                        <img src="/user/assets/images/brands/5.png" alt="Brand Name">
                    </a>

                    <a class="brand">
                        <img src="/user/assets/images/brands/6.png" alt="Brand Name">
                    </a>

                    <a class="brand">
                        <img src="/user/assets/images/brands/7.png" alt="Brand Name">
                    </a>
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->

            <div class="featured-back" style="background-image: url(/user/assets/images/demos/demo-22/featured/background.jpg);">
                <div class="container">
                    <div class="section-title">
                        <ul class="nav nav-pills nav-border-anim" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-featured-link" data-toggle="tab" href="#tab-featured" role="tab" aria-controls="tab-featured" aria-selected="true"><span>Featured</span></a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="tab-best-link" data-toggle="tab" href="#tab-best" role="tab" aria-controls="tab-best" aria-selected="false"><span>Bestsellers</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-sale-link" data-toggle="tab" href="#tab-sale" role="tab" aria-controls="tab-sale" aria-selected="false"><span>Sale</span></a>
                            </li> -->
                        </ul>

                    
                        <a class="link" href="/product-list">All Featured Products</a>
                    </div>

                    <% if(featuredProduct){ %>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="product-lg">
                                <figure class="product-media">
                                    <span class="product-label label-limited">limited time sale</span>
                                    <a href="/product/<%= featuredProduct._id %>" class="p-5">
                                        <img src="/products/<%= featuredProduct.images[0] %>" alt="Product image" class="product-image">
                                    </a>

                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <h3 class="save-price"><span>
                                        <% if(featuredProduct.price !== featuredProduct.discountPrice ){ %>
                                            Save $<%= featuredProduct.price - featuredProduct.discountPrice  %></span></h3>
                                        <% } %>
                                    <h3 class="product-title"><a href="/product/<%= featuredProduct._id %>"><%= featuredProduct.name %></a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <% if( featuredProduct.actualPrice === featuredProduct.discountPrice){ %>
                                            <span class="old-price">Was $<%= featuredProduct.price %></span>
                                            <% }else { %>
                                            <span class="new-price">$<%= featuredProduct.discountPrice %></span>
                                            <span class="old-price">Was $<%= featuredProduct.price %></span>                                           
                                        <% } %>
                                    </div><!-- End .product-price -->
                                    <div class="action">
                                        <a href="/product/<%= featuredProduct._id %>">shop now</a>
                                    </div>
                                </div><!-- End .product-body -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-featured" role="tabpanel" aria-labelledby="tab-featured-link">
                                    <div class="row products all">

                                        <% featuredProducts.forEach( product => { %> 

                                        <div class="col-lg-4 col-6">
                                            <div class="product product-3 text-center">
                                                <figure class="product-media">
                                                    <span class="product-label label-sale">Sale</span>
                                                    <a href="/product/<%= product._id %>" class="p-3">
                                                        <img src="/products/<%= product.images[0] %>" alt="Product image" class="product-image">
                                                    </a>

                                                    <div class="product-action-vertical">
                                                        <a class="btn-product-icon btn-wishlist btn-expandable" style="cursor: pointer;" data-product-id="<%= product._id %>"><span>add to wishlist</span></a>
                                                    </div><!-- End .product-action-vertical -->
                                                </figure><!-- End .product-media -->

                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="/product/<%= product._id %>"><%= product.category.categoryName %></a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a href="/product/<%= product._id %>"><%= product.name %></a></h3><!-- End .product-title -->
                                                    <div class="product-price">
                                                        <% if( product.actualPrice === product.discountPrice){ %>
                                                            <div class="product-price">$<%= product.actualPrice %></div>
                                                        <% }else { %>
                                                            <span class="new-price">$<%= product.discountPrice %></span>
                                                            <span class="old-price">Was $<%= product.actualPrice %></span>
                                                           
                                                        <% } %>
                                                    </div><!-- End .product-price -->
                                                </div><!-- End .product-body -->

                                                <div class="product-footer">
                                                    <div class="product-action">
                                                        <a class="btn-product btn-cart text-warning" style="font-size: 15px; cursor: pointer;" title="Add to cart" data-product-id="<%= product._id %>">Add to Cart</a>
                                                    </div><!-- End .product-action -->
                                                </div><!-- End .product-footer -->
                                            </div><!-- End .product -->
                                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                                        <% }) %>
                                        
                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->
                                
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <div class="mb-2"></div><!-- End .mb-6 -->
                </div><!-- End .container -->
            </div>

            <div class="newsletter" style="background-image: url(/user/assets/images/demos/demo-22/newsLetter/background.jpg);">
                <div class="container">
                    <div class="subscribe text-center">
                        <div class="intro">
                            <h3 class="title">Subscribe for Our Newsletter</h3>
                            <h4 class="content">Learn about new offers and get more deals by joining our newsletter</h4>
                        </div>
                        <div class="subscribe action">
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" placeholder="Enter your Email Address" aria-label="Email Adress" required="">
                                    <div class="input-group-append">
                                        <button class="btn btn-subscribe" type="submit"><span>Subscribe now</span></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container banner-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 banner-lg">
                        <a href="/product-list">
                            <img src="/user/assets/images/demos/demo-22/banner/banner-1.jpg">
                        </a>
                        <div class="banner-content">
                            <div class="title">
                                <a href="/product-list">save up to 30%</a>
                            </div>
                            <div class="content">
                                <a href="/product-list">
                                    <h3 class="highlight">Premium Brands</h3>
                                    <h4>for the Toughest Jobs</h4>
                                </a>
                            </div>
                            <div class="action">
                                <a href="/product-list">discover now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 banner-lg">
                        <a href="/product-list">
                            <img src="/user/assets/images/demos/demo-22/banner/banner-2.jpg">
                        </a>
                        <div class="banner-content">
                            <div class="title">
                                <a href="/product-list">best sellers in tools</a>
                            </div>
                            <div class="content">
                                <a href="/product-list">
                                    <h3>Pro-level tools</h3>
                                    <h4 class="highlight">Save on Bestsellers</h4>
                                </a>
                            </div>
                            <div class="action">
                                <a href="/product-list">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container service">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rocket"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>Orders $50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->
                    
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                <p>Within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-info-circle"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                <p>When you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                </div>
            </div>

            <div class="container popular">
                <hr class="mb-5">

                <div class="section-title">
                    <div><p class="title"><span>Popular Products</span></p></div>
                    
                    <a class="link" href="#">See All Products</a>
                </div>

                <div class="row products">

                    <% products.forEach( product => { %>

                    <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                        <div class="product product-3 text-center">
                            <figure class="product-media">
                                <span class="product-label label-sale">Sale</span>
                                <a href="/product/<%= product._id %>" class="p3">
                                    <img src="/products/<%= product.images[0] %>" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a class="btn-product-icon btn-wishlist btn-expandable" style="cursor: pointer;" data-product-id="<%= product._id %>"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="/product/<%= product._id %>"><%= product.category.categoryName %></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product/<%= product._id %>"><%= product.name %></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <% if( product.actualPrice === product.discountPrice){ %>
                                        <div class="product-price">$<%= product.actualPrice %></div>
                                    <% }else { %> 
                                        <span class="new-price">$<%= product.discountPrice %></span>
                                        <span class="old-price">Was $<%= product.actualPrice %></span>
                                       
                                    <% } %>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->

                            <div class="product-footer">
                                <div class="product-action">
                                    <a class="btn-product btn-cart text-warning" style="font-size: 15px; cursor: pointer;" title="Add to cart" data-product-id="<%= product._id %>">Add to Cart</a>
                                </div><!-- End .product-action -->
                            </div><!-- End .product-footer -->
                        </div><!-- End .product -->
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                    <% }) %>

                </div><!-- End .row -->
            </div>

            <div class="container bannerad">
                <div class="banner-lg"  style="background-image: url(/user/assets/images/demos/demo-22/bannerad/background.jpg);">
                    <div class="price">
                        <h4 class="highlight">from</h3><h3>$39</h3><sup class="highlight">,99</sup>
                    </div>
                    <div class="content">
                        <h4>woodworking tools</h4>
                        <h3>from top rated brands</h3>
                        <div class="action">
                            <a href="/product-list">discover now</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container post">

                <div class="section-title">
                    <div><p class="title"><span>Our Blog Posts</span></p></div>
                    
                    <a class="link" href="/product-list">See All Posts</a>
                </div>

                <div class="owl-carousel owl-simple mb-4" data-toggle="owl" 
                    data-owl-options='{
                        "nav": true, 
                        "dots": false,
                        "items": 3,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "0": {
                                "items":1,
                                "dots":true
                            },
                            "520": {
                                "items":2,
                                "dots":true
                            },
                            "768": {
                                "items":3,
                            }
                        }
                    }'>
                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="/user/assets/images/demos/demo-22/post/post-1.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body text-center">
                            <div class="entry-meta">
                                <a href="#">Nov 22, 2018</a>, 0 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Sed adipiscing ornare.</a>
                            </h3><!-- End .entry-title -->

                            <div class="entry-content">
                                <a href="single.html" class="read-more">Continue Reading</a>
                            </div><!-- End .entry-content -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                
                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="/user/assets/images/demos/demo-22/post/post-2.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body text-center">
                            <div class="entry-meta">
                                <a href="#">Nov 22, 2018</a>, 0 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Aenean dignissim pellentesque.</a>
                            </h3><!-- End .entry-title -->

                            <div class="entry-content">
                                <a href="single.html" class="read-more">Continue Reading</a>
                            </div><!-- End .entry-content -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="/user/assets/images/demos/demo-22/post/post-3.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body text-center">
                            <div class="entry-meta">
                                <a href="#">Nov 22, 2018</a>, 2 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Quisque volutpat mattis.</a>
                            </h3><!-- End .entry-title -->

                            <div class="entry-content">
                                <a href="single.html" class="read-more">Continue Reading</a>
                            </div><!-- End .entry-content -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                    <article class="entry">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="/user/assets/images/demos/demo-22/post/post-2.jpg" alt="image desc">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body text-center">
                            <div class="entry-meta">
                                <a href="#">Nov 22, 2018</a>, 0 Comments
                            </div><!-- End .entry-meta -->

                            <h3 class="entry-title">
                                <a href="single.html">Aenean dignissim pellentesque.</a>
                            </h3><!-- End .entry-title -->
                            
                            <div class="entry-content">
                                <a href="single.html" class="read-more">Continue Reading</a>
                            </div><!-- End .entry-content -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->

                </div><!-- End .owl-carousel -->

            </div>

        </main>

        <%- include('./layouts/footer.ejs') %>

        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

         <%- include('./layouts/mobile-nav.ejs') %>


 	<!-- Plugins JS File -->
    <script src="user/assets/js/jquery.min.js"></script>
    <script src="user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="user/assets/js/jquery.waypoints.min.js"></script>
    <script src="user/assets/js/superfish.min.js"></script>
    <script src="user/assets/js/owl.carousel.min.js"></script>
    <script src="user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="user/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>

    <script src="/user/custom-js/home.js"></script>
</body>

<!-- molla/index-22.html  22 Nov 2019 10:02:10 GMT -->
</html>